
main {
  min-height: 90vh;
}
h3 {
  padding: 1rem 0;
}
.rating span {
}

.App {
  font-family: sans-serif;
  text-align: center;
 
}

header {
  margin-bottom: 30px;
}

.col-md-4 {
  margin-bottom: 30px;
}
.custom-btn {
  background-color: blueviolet !important;
  border: #fff !important;
}

.shipping{
  margin-left: 50px;
  background-color: blueviolet;
}

.order-sum{
  margin-right: 50px;
}