
main {
  min-height: 90vh;
}
h3 {
  padding: 1rem 0;
}
.rating span {
}

.App {
  font-family: sans-serif;
  text-align: center;
 
}

header {
  margin-bottom: 30px;
}

.col-md-4 {
  margin-bottom: 30px;
}

